<h1>Ethan's fancy Dodgeball organizer</h1>

<ul class="round center">
<li> <%= link_to "Player Admin", players_path %></li>
<li> <%= link_to "Team Admin", teams_path %></li>
<li> <%= link_to "Game Admin", games_path %></li>
</ul>